body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}


hr {
    width: 80%;
    text-align: center;
    margin-left:auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

article {
    margin-left: 20%;   
}

.tabla {
    text-align: left;
}